<!DOCTYPE html>
<html>
<head>
    <title>Bingo S.O.S</title>
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}/bootstrap3/css/bootstrap.min.css">
    <script src="{{ STATIC_URL }}/bootstrap3/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #F4F4EF">

    <div class="container">
        {% block base_content %}
        {% endblock %}

        {% block base_footer %}
            <hr/>
            <footer>
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <img alt="SOS" height="70px"
                             src="{{ STATIC_URL }}bootstrap3/img/sos_logo.png"/>
                    </div>
                    <div class="col-md-10 column text-center">
                        <address style="background-color: #006341; color: #ffffff; font-size: 25px;">
                            Monsenhor Messias, Nº: 122 -
                            Centro/Sete Lagoas<br/>
                            <strong>Telefone:</strong> 3776-6600
                        </address>
                    </div>
                </div>
            </footer>
        {% endblock %}

    </div>

</body>
</html>